#wrapper {
	padding: 10px 20px;
	
}
th {
	text-align: left;
}
textarea {
	resize: vertical;
	height: 150px;
}
.error {
	color: red;
}
footer p {
	text-align: left;
}
input[type='file'] {
	margin-top: 30px;
}
#cmsKey {
	float: right;
}
#createForm {
	float: left;
}
.key {
	margin-right: 5px;
	color: #9243cf;
	font-weight: bold;
	display: inline;
}
label {
	cursor: default;
}