#wrapper {
	padding: 10px 20px;
	
}
th {
	text-align: left;
}
textarea {
	resize: vertical;
	height: 150px;
}
.error {
	color: red;
}
footer p {
	text-align: left;
}
input[type='file'] {
	margin-top: 30px;
}
#cmsKey {
	float: right;
	/*width: 50%;*/
}
#createForm {
	float: left;
	/*width: 50%;*/
}
#blue {
	background-color: blue;
	width: 300px;
	height: 300px;
	border: 1px solid #333;
}
#red {
	background-color: red;
	width: 300px;
	height: 300px;
	border: 1px solid #333;
}
@media screen and (max-width: 900px){
	/*#cmsKey {
		width: 100%;
	}
	#createView {
		width: 100%;
	}*/
}